{% load static %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Todo List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>
  <body>
    <div class="header-container">
      <h1>My Todo List</h1>
      <button class="theme">🌙</button>
    </div>
    <form action="" method="GET">
      <input
        type="text"
        placeholder="Search your todos"
        name="q"
        value="{{filter}}"
      /><br />
    </form>
    <a href="{% url 'add_todo' %}" class="add-btn">Add new Todo</a> <br />
    <ul>
      {% for todo in todos %}
      <li data-pk="{{ todo.pk }}">
        <input
          type="checkbox"
          class="completed-checkbox {% if todo.completed %}hidden{% endif %}"
          {%
          if
          todo.completed
          %}checked{%
          endif
          %}
        />
        <a
          class="todo-title {% if todo.completed %}completed-title{% endif %}"
          href="{% url 'details' todo.pk %}"
          >{{ todo.title }}</a
        >
        <a href="{% url 'delete_todo' todo.pk %}" class="delete">Delete</a>
      </li>
      {% empty %}
      <h1>No todos found</h1>
      {% endfor %}
    </ul>
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}" />
  </body>
</html>
